<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit : {{video.Title}}</h4>
    </div>
    <div class="modal-body">
      <span class="pull-right">ID :{{video.imdbID}}</span>
      <p>Name :{{video.Title | titlecase}}</p>
      <p>Year :{{video.Year}} </p>
      <p>Runtime :{{video.Runtime | titlecase}}</p>
      <p>Genre :{{video.Genre | titlecase}}</p>
      <p>Director :{{video.Director | titlecase}}</p>
      <form [formGroup]="editForm" (ngSubmit)="editVideo(editForm.value)" autocomplete="off">
        <div class="form-group " [ngClass]="{'error':title.invalid && title.dirty}">
          <label for="title">Title:</label>
          <em *ngIf="title.invalid && title.dirty && title.errors.restrictedTitles">
            this title alerdy exist : {{title.errors.restrictedTitles }}</em>
          <em *ngIf="title.invalid && (title.dirty || mouseOverSubmit)">Required</em>
          <em *ngIf="title.invalid && title.dirty && title.errors.pattern">Only a-z small letters</em>
          <input formControlName="title" id="title" type="text" class="form-control" placeholder="title..." />
        </div>
        <div class="form-group" [ngClass]="{'error':year.invalid && year.dirty}">
          <label for="year">Year:</label>
          <em *ngIf="year.invalid && year.dirty">Required</em>
          <select formControlName="year" name="year" class="form-control" required placeholder="year...">
            <option *ngFor="let year of yearsArray" value="{{year}}">{{year}}</option>
          </select>
        </div>
        <div class="form-group" [ngClass]="{'error':runtime.invalid && runtime.dirty}">
          <label for="runtime">Runtime:</label>
          <em *ngIf="runtime.invalid && runtime.dirty">Required</em>
          <input formControlName="runtime" id="runtime" type="text" class="form-control" placeholder="runtime..." />
        </div>
        <div class="form-group" [ngClass]="{'error':director.invalid && director.dirty}">
          <label for="director">Director:</label>
          <em *ngIf="director.invalid && director.dirty">Required</em>
          <input formControlName="director" id="director" type="text" class="form-control" placeholder="director..." />
        </div>
        <div class="form-group" [ngClass]="{'error':genre.invalid && genre.dirty}">
          <label for="genre">Genre:</label>
          <em *ngIf="genre.invalid && genre.dirty">Required</em>
          <input formControlName="genre" id="genre" type="text" class="form-control" placeholder="genre..." />
        </div>
        <div class="form-group" [ngClass]="{'error':poster.invalid && poster.dirty}">
          <label for="poster">Poster:</label>
          <em *ngIf="poster.invalid && poster.dirty  && poster.errors.pattern">(Must be a png or jpg url)</em>
          <em *ngIf="poster.invalid && poster.dirty">Required</em>
          <input formControlName="poster" required pattern=".*\/.*.(png|jpg)" id="poster" type="text" class="form-control"
            placeholder="poster..." />
        </div>
        <span (mouseenter)="mouseOverSubmit=true" (mouseleave)="mouseOverSubmit=false">
          <button type="submit" (click)="editVideo(editForm.value)" [disabled]="editForm.invalid" class="btn btn-primary"
            data-dismiss="modal">Save</button>
        </span>

        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </form>

    </div>