<div class="modal-dialog">

  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Delete Video</h4>
    </div>
    <div class="modal-body">
      <h5> Delete {{video.Title}} ? </h5>
    </div>
    <div class="modal-footer">
      <button type="submit" (click)="deleteVideo(video)" class="btn btn-danger" data-dismiss="modal">Delete</button>
      <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
    </div>